@page
@model ListModel
@{
}

<h1>Restaurants</h1>

<div>
    @Model.Message
</div>

<form method ="get">
    <div  class="input-group">
        <input type="search" class="form-control" value="" />
        <div class="input-group-append">
            <button class="btn btn-secondary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>

<table class="table">
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Cousine type</th>
        </tr>
    @foreach(var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
        </tr>
    }

</table>


